<!DOCTYPE html>
<html>
<div th:replace="layout/head :: head"></div>
<body>

<nav th:replace="layout/menu :: menuJacaranda"></nav>


	
	<div class="container px-5 my-5">
	  <div class="row justify-content-center">
	    <div class="col-lg-8">
	      <div class="card border-0 rounded-3 shadow-lg">
	        <div class="card-body p-4">
	          <div class="text-center">
	            <h1>Add Company</h1>
	          </div>
	
				
	          <form method="get" th:if="${param.add}" th:action="@{addCompany}" th:object="${company}">
			  <form method="get" th:if="${param.delete}" th:action="@{deleteCompany}" th:object="${company}">
	          <form method="get" th:if="${param.edit}" th:action="@{editCompany}" th:object="${company}">
				<span th:if="${edit != null or delete != null}">
				   <div class=" mb-3">
		   				<label for="id" class="form-label">ID</label>
		   				<input type="text" th:field="*{id}" class="form-control" id="id" name="id" placeholder="Enter id company" readonly>
		           </div>
				</span>
		           <div class=" mb-3">
		            	<label for="nameCompany" class="form-label">Name Company</label>
		   				<input type="text" th:field="*{name}" class="form-control" id="nameCompany" name="nameCompany" placeholder="Enter name Company" required>
		           </div>
		
	          	 	<div class=" mb-3">
		            	<label for="cityCompany" class="form-label">City Company</label>
		   				<input type="text" th:field="*{city}" class="form-control" id="cityCompany" name="cityCompany" placeholder="Enter city Company" required>
		           	</div>
		
		           <div class=" mb-3">
		            	<label for="addressCompany" class="form-label">Address Company</label>
		   				<input type="text" th:field="*{address}" class="form-control" id="addressCompany" name="addressCompany" placeholder="Enter address Company" required>
		           </div>

	              	<button class="btn btn-success " id="submitButton" type="submit" name="submit">Save</button>
	              	<span th:if="${add != null}">
	              		<span th:text="${add}" class="alert alert-success"></span>
	              	</span>
	          </form>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</form>

<div th:insert="layout/footer :: pie"></div>
</body>
</html>