<!DOCTYPE html>
<html>
<div th:replace="layout/head :: head"></div>
<body>

<nav th:replace="layout/menu :: menuJacaranda"></nav>

<table class="table">
	<thead class="thead-dark">
	<tr>
	<th>ID</th>
	<th>Nombre</th>
	<th>Address</th>
	<th>City</th>
	</tr>
	<tr th:each="company : ${listCompanies}">
		<td th:text="${company.id}"></td>
		<td th:text="${company.name}"></td>
		<td th:text="${company.address}"></td>
		<td th:text="${company.city}"></td>
		<td><form th:action="@{editCompany}" th:object="${company}">
			<input type="text" th:value="${company.id}" name="id" id="id" class="form-control" hidden>
			<input type="text" value="edit" name="edit" id="edit" class="form-control" hidden>
			<button>Edit</button>
		</form></td>
		<td><form th:action="@{deleteCompany}">
			<input type="text" th:value="${company.id}" name="id" id="id" class="form-control" hidden>
			<input type="text" value="delete" name="delete" id="delete" class="form-control" hidden>
			<button>Delete</button>
		</form></td>
	</tr>
	</thead>
</table>

<div th:insert="layout/footer :: pie"></div>
</body>
</html>